{% extends 'core/base.html' %}

{% block title %}{{ commit.git_hash }}{% endblock %}

{% block content %}
    <section class="jumbotron text-center">
        <h1 class="jumbotron-heading quote">
            <i class="fa fa-fw fa-quote-left text-muted big-icon"></i>
            {{ commit.text }}
        </h1>
        <p class="lead text-muted">
            Hash: {{ commit.git_hash }} <a href="{% url 'browse' commit.git_hash %}"><i class="fa fa-fw fa-link"></i></a>
        </p>
        {% if browse %}
            <p class="text-muted">
                You are browsing a single commit<br>
                <a href="/"><i class="fa fa-fw fa-random"></i> Show random</a>
            </p>
        {% endif %}
        <div class="vote-box">
            <a class="text-success" href="{% url 'funny' commit.git_hash %}">
                <i class="fa fa-fw fa-thumbs-up"></i> Funny
            </a>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <a class="text-danger" href="{% url 'not_funny' commit.git_hash %}">
                <i class="fa fa-fw fa-thumbs-down"></i> Not funny
            </a>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <a href="{% url 'all' %}" class="text-muted">
                <i class="fa fa-fw fa-th-list"></i> Browse
            </a>
        </div>

    </section>

    <section class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Top 10</h2>

                    <table class="simple">
                        {% for commit in top10 %}
                            <tr>
                                <td><a href="{% url 'browse' commit.git_hash %}">{{ commit.short_hash }}</a></td>
                                <td><span class="quote text-muted">{{ commit.text }}</span></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-6">
                    <h2>Bottom 10</h2>

                    <table class="simple">
                        {% for commit in bottom10 %}
                            <tr>
                                <td><a href="{% url 'browse' commit.git_hash %}">{{ commit.short_hash }}</a></td>
                                <td><span class="quote text-muted">{{ commit.text }}</span></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
